ion-img {
    margin-top: 10% !important;
}

ion-list{
    background: var(--ion-color-neutro);
}

.entrada {
    --border-radius: 20px;
    --background: #ffffff;
    --border-color: #ffffff;
    --border-width: 1px;
}

.botonDeAccion{
    text-transform: none;
}

h1{
    font-weight: 100;
}