<ion-toolbar>
  <ion-buttons class="btnFooter">
    <ion-button (click)="navegarA('/inicio')">
      <ion-icon slot="icon-only" class="btnsFooter" name="home-outline" color="primero"></ion-icon>
    </ion-button>
    <ion-button (click)="navegarA('/carrito')">
      <ion-icon slot="icon-only" class="btnsFooter" name="cart-outline" color="primero"></ion-icon>
    </ion-button>
    <ion-button (click)="navegarA('/perfil')">
      <ion-icon slot="icon-only" class="btnsFooter" name="person-outline" color="primero"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>